name: Continuous Integration

on:
  push:
    paths:
      - .github/workflows/ci.yml
      - poetry.lock
      - pyproject.toml
      - src/**
      - tests/**
  pull_request:
    paths:
      - .github/workflows/ci.yml
      - poetry.lock
      - pyproject.toml
      - src/**
      - tests/**

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: CVector-Energy/python-test@main
        with:
          python-version: ${{ matrix.python-version }}
          src-dirs: .
